header { 
    font-style: oblique;
    font-weight: bold;
    color: rgb(38, 0, 255);
    font-size: large;
    display: block;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-shadow: 1px 1px #6f00ff;
}
