header { 
    font-style: oblique;
    font-weight: bold;
    color: red;
    font-size: large;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-shadow: 2px 2px #ff0000;
}
